@import '../../style/mat/vi-mat';

:host 
{
	ng2-smart-table {
		&::ng-deep .column-id {
			width: 100px;
			@include text-one-line();
		}
	
		&::ng-deep .column-balance {
			width: 125px;
			@include text-one-line();
		}
	
		&::ng-deep .column-boolean {
			width: 125px;
			@include text-one-line();
		}
	}
}



